{{!-- User login form --}}
<h1>Login!!</h1>
<div class="container-login">
  {{#if login}}
  <p>You are now logged in as: </p>
      <!-- Login Form -->
      <div class="loginForm d-none"> <!-- login form hidden -->
      <h2>Login</h2>
      <p>Thank you for logging {{user}}</p>
      </div>
      {{else}}
{{!-- This needs to contain recent vibe posts.  Build the logic for #each users by vibe or by post date --}}

      <form id="login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>
      </form>
  {{/if}}    
    </div>








