{{!-- Display Posts --}}
{{#each posts as |post|}}
  <div>
   <h2>Latest Posts</h2>
    <h2>{{vibetype}}</h2>
    <h3>{{contentbody}}</h3>
        {{!-- <li>{{title}}</li> --}}
  </div>
  {{/each}}
  








