 <section>
      <div class="vibe-card" id="recent-post-hide">
        <h5 class="card-header">Recent Post</h5>
        <div class="card-body">
          <label for="userContent">Enter your content:</label>
          <textarea
            id="userContent"
            name="userContent"
            class="form-control"
            rows="4"
            placeholder="Type your content here"
            required
          ></textarea>
          <a href="#" class="btn btn-primary">Go home</a>
        </div>
      </div>
      <div class="vibe-card" id="new-post-hide">
        <h5 class="card-header">New Post</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go home</a>
        </div>
      </div>
      <div class="vibe-card" id="vibe-hide">
        <h5 class="card-header">Vibe</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go home</a>
        </div>
      </div>
    </section>